<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <div class="nav">
    <nav class="navbar navbar-expand">
      <h4>Eau Claire's Salon</h4>
      <ul class="navbar-nav">
        <a class="nav-link" href="/">HOME</a>  
        <a class="nav-link" href="/Stylists">STYLISTS</a>
        <a class="nav-link" href="/Clients">CLIENTS</a>
        <a class="nav-link" href="/Appointments">APPOINTMENTS</a>
      </ul>
      </nav>
    </div>
    <br>
    <br>
    <div class="col-md-5" class="container card" style="margin: auto;">
      @RenderBody()
      @Html.Partial("Footer")
      @Html.Partial("Header")
    </div>
  <body style="background-image: src=https://unsplash.com/photos/jsuWg7IXx1k">
    
  </body>
</html>

        
      