@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
<div class="container card">
    <h3>ADD NEW STYLIST</h3>
    <hr>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(model => model.Name, new { @required = true })
        @Html.LabelFor(model => model.Name, "Stylist's Name")
        <br>
        <input type="submit" class="btn btn-primary" value="ADD" />
    }
    <br>
    <strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
</div>
<hr>