@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container card">
    <h3>DELETE STYLIST?</h3>
    <hr>
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <br>
    <br>
    @using (Html.BeginForm())
    {
        <input type="submit" class="btn btn-primary" value="Delete" />
    }
    <br>
    <strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
</div>