@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="container card">
    <h3>DELETE?</h3>

    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <br>
    <br>
    @using (Html.BeginForm())
    {
        <input type="submit" class="btn btn-primary" value="Delete" />
    }
    <br>
    <br>
    @Html.ActionLink("Stylist List", "Index")
    <br>
    <br>
</div>