@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<div class="container card">
    <h3>STYLISTS</h3>

    @if (@Model.Count == 0)
    {
      <h3>Add a Stylist</h3>
    } 

    @foreach (Stylist stylist in Model)
    {
      <li>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</li>
    }
    <p>@Html.ActionLink("Add New Stylist", "Create")</p>
</div>