
.card  {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  background-color: rgba(240, 10, 10, 0.75);
  border-radius: 10px;
}

.nav {
  background-color: rgba(238, 16, 16, 0.75);
  font-family: 'Philosopher', sans-serif;
}
