@{
  Layout = "_Layout";
}
<div class="container card">
    <h1>W E L C O M E</h1>
    <hr>
    <h3>@Html.ActionLink("STYLISTS", "Index", "Stylists")</h3>
    <h3>@Html.ActionLink("CLIENTS", "Index", "Clients")</h3> 
    <h3>@Html.ActionLink("APPOINTMENTS", "Index", "Appointments")</h3>
</div>