@{
  Layout = "_Layout";
}
<div class="container card">
    <h1>Welcome to Eau Claire's Salon</h1>
    <p>@Html.ActionLink("Stylist List", "Index", "Stylists")</p>
    <p>@Html.ActionLink("Client List", "Index", "Clients")</p> 
</div>