@{
  Layout = "_Layout";
}
@model List<HairSalon.Models.Client>;

<h2>DELETE ALL CLIENTS?</h2>
@using (Html.BeginForm())
{
    <button class="btn btn-primary" type="submit" value="DeleteAll">YES</button>
}
<br>
<strong><p>@Html.ActionLink("FULL LIST", "Index")</p></strong>
